# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#  CMS Team or FE COP will be requested for
# review when someone opens a pull request.
#
# Review the CODEOWNERS guide before editing:
# https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/codeowners.md

# General ownership: Next Build Team (ap-team) & Platform FE COP
*       @department-of-veterans-affairs/ap-team @department-of-veterans-affairs/va-platform-cop-frontend
src/products/eventListing/ @department-of-veterans-affairs/ap-team @department-of-veterans-affairs/va-platform-cop-frontend
