# dependencies & GHA
.github
.yarn
.swc
node_modules
yarn.lock
.yarnrc.yml

# test output
coverage

# static outputs
public
.next
out
typedocs
storybook-static
packages/*/dist

# prettier doesn't play well with .hbs format
generator-templates/
