@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: block;
  margin: 0 auto;
  transition: width 0.1s;
}

@media (min-width: 640px) {
  .container {
    width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
.va-pagination-b {
  border-top: 1px solid #f1f1f1;
  font-size: .9em;
  overflow: hidden;
  padding: 2rem 0 1rem;
  position: relative;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.va-pagination-b a {
  justify-content: center;
  align-items: center;
  display: flex;
}
.va-pagination-prev-b, .va-pagination-next-b, .va-pagination-inner-b {
   padding: 0;
}
@media (min-width: 1201px) {
  .va-pagination-inner-b {
      width: 60px;
      justify-content: center;
  }
}
.va-pagination-prev-b, .va-pagination-next-b {
    padding: 0 1rem;
}
.va-pagination-prev-b, .va-pagination-next-b {
    position: relative;
}