services:
  # Configure a standard apache webserver to host our site.
  web:
    # Use the most recent version of nginx.
    image: tugboatqa/nginx:latest

    # Explicitly set this as the default service
    #   1. Clones the git repository into the service container
    #   2. Exposes port 80 to the Tugboat HTTP proxy
    #   3. Routes requests to the preview URL to this service
    default: true

    # Run these commands to initialize the server, update it with any libraries and assets required, then build your site.
    commands:
      # Initialize the server.
      init:
        # Define the desired Node.js major version
        - NODE_MAJOR=18
        - # Create a directory for the new repository's keyring, if it doesn't exist
        - mkdir -p /etc/apt/keyrings
        - # Download the new repository's GPG key and save it in the keyring directory
        - curl -fsSL https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key | sudo gpg --dearmor -o /etc/apt/keyrings/nodesource.gpg
        - # Add the new repository's source list with its GPG key for package verification
        - echo "deb [signed-by=/etc/apt/keyrings/nodesource.gpg] https://deb.nodesource.com/node_${NODE_MAJOR}.x nodistro main" | sudo tee /etc/apt/sources.list.d/nodesource.list
        # Update local package index to recognize the new repository
        - sudo apt-get update

        # Install Node.js from the new repository
        - sudo apt-get install -y nodejs

        # Install yarn
        - corepack enable
        - corepack prepare yarn@stable --activate

        # Install VA Root CA
        - cp "${TUGBOAT_ROOT}"/certs/*.crt /usr/local/share/ca-certificates
        - update-ca-certificates

      # Load dependent libraries and assets to prepare the site for build.
      update:
        - yarn --version
        # install dependencies
        - yarn install

      # Run any commands needed to build the site.
      build:
        # Build the static pages. Set for self-signed certs
        - NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-certificates.crt yarn export
        # Generate sitemap
        - SITE_URL=${TUGBOAT_DEFAULT_SERVICE_URL} yarn postbuild
        # Set the webroot to the output folder.
        - ln -snf "${TUGBOAT_ROOT}/out" "${DOCROOT}"
