services:
  # Configure a standard apache webserver to host our site.
  apache:
    # Use the most recent version of httpd service.
    image: tugboatqa/node:18

    # Run these commands to initialize the server, update it with any libraries and assets required, then build your site.
    commands:
      # Initialize the server.
      init:
        - npm install --global yarn
        - yarn --version

        # Set the webroot for to the Gatsby public folder.
        # Change this if you specify a different root for your public site.
        - ln -snf "${TUGBOAT_ROOT}/out" "${DOCROOT}"

      # Load dependent libraries and assets to prepare the site for build.
      update:
        # install dependencies
        - yarn install

      # Run any commands needed to build the site.
      build:
        # Build the static pages
        - yarn export
        - yarn postbuild
