@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import '@department-of-veterans-affairs/component-library/dist/main.css';

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.above-footer-elements-container {
  margin-bottom: 1.5625rem;
}

.last-updated {
  margin-top: 0;
  padding-top: 0.78125rem;
}

.feedback-button {
  background-color: var(color-primary);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin-right: 0;
  margin-top: 0.3125rem;
  height: 44px;
  width: 133px;
}

/* header search styles */
.header-search {
  input {
    max-width: unset;
  }
}

.search-input-container {
  max-width: unset !important;
}

.search-input {
  max-width: unset !important;
}

.search-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 42px;
  width: 45px;
}
