@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import '@department-of-veterans-affairs/component-library/dist/main.css';

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.above-footer-elements-container {
  margin-bottom: 1.5625rem;
}

.last-updated {
  margin-top: 0;
  padding-top: 0.78125rem;
}

va-button#mdFormButton::part(button) {
  margin-right: 0px;
}

.feedback-button {
  background-color: var(--color-primary);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin-right: 0;
  margin-top: 0.3125rem;
  height: 44px;
  width: 133px;
}

/* header search styles */
.header-search {
  input {
    max-width: unset;
  }
}

.search-input-container {
  max-width: unset !important;
}

.search-input {
  max-width: unset !important;
}

.search-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 42px;
  width: 45px;
  padding: 0;
}
.spotlight-card {
  min-width: 30%;
  word-wrap: break-word;
}

/* Override the `facility-img` class rules used in a widget so we don't have to apply
   hacky fixes to the column layouts that contain it. If the "facility-map" widget is
   ever replaced or updated so that `facility-img` isn't used, this can be removed. */
.facility-img {
  width: auto !important;
  height: auto !important;
  min-width: initial !important;
  min-height: initial !important;
}

/* Benefits Hub icon styles */
.hub-icon
 {
    border-radius: 50%;
    height: 40px !important;
    width: 40px !important;
    min-width: 40px !important;
    max-width: 40px !important;
}