@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import '@department-of-veterans-affairs/component-library/dist/main.css';

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.feedback-button {
  background-color: #0071BB;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  margin-right: 0;
  margin-top: 0.5rem;
  height: 44px;
  width: 133px;
}

.above-footer-elements-container {
  margin-bottom: 2.5rem;
}

.last-updated {
  margin-top: 0;
  padding-top: 1.25rem;
}
