@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import '@department-of-veterans-affairs/component-library/dist/main.css';

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.above-footer-elements-container {
  margin-bottom: 2.5rem;
}

.last-updated {
  margin-top: 0;
  padding-top: 1.25rem;
}

