/* CSS extracted from va-additional-info shadow DOM */
/* TODO: Replace this with actual extracted CSS from the browser if va-additional-info is used on the page */

/* 
 * To extract:
 * 1. Visit the page in browser
 * 2. Select the va-additional-info element in DevTools ($0)
 * 3. Run: extractCssRules($0) (see SHADOW_DOM_EXTRACTION.md)
 * 4. Paste the output here
 */
