/* Scoped to va-accordion-wrapper to prevent affecting other page elements */
.va-accordion-wrapper button:not([disabled]):focus,
.va-accordion-wrapper select:not([disabled]):focus,
.va-accordion-wrapper a:not([disabled]):focus,
.va-accordion-wrapper h1:focus,
.va-accordion-wrapper input:not([disabled]):focus,
.va-accordion-wrapper textarea:not([disabled]):focus,
.va-accordion-wrapper #form-question [role="option"]:focus,
.va-accordion-wrapper [tabindex]:focus,
.va-accordion-wrapper a.va-sidenav-submenu__link:focus { outline: 2px solid var(--vads-color-action-focus-on-light); outline-offset: 2px; z-index: 2; }
.va-accordion-wrapper .usa-accordion { list-style-type: none; color: rgb(27, 27, 27); margin: 0px; padding: 0px; width: 100%; font-family: "Source Sans Pro Web", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans; font-size: 1.06rem; line-height: 1.5; }
.va-accordion-wrapper .usa-accordion > li { margin-bottom: 0px; max-width: unset; }
.va-accordion-wrapper .usa-accordion > ul li ul { list-style: disc; }
.va-accordion-wrapper .usa-accordion > ul li ul > li > ul { list-style: circle; }
.va-accordion-wrapper .usa-accordion > ul li ul > li > ul > li > ul { list-style: square; }
.va-accordion-wrapper .usa-accordion + .usa-accordion,
.va-accordion-wrapper .usa-accordion + .usa-accordion--bordered { margin-top: 0.5rem; }
.va-accordion-wrapper .usa-accordion--bordered .usa-accordion__content { border-bottom: 0.25rem solid rgb(240, 240, 240); border-left: 0.25rem solid rgb(240, 240, 240); border-right: 0.25rem solid rgb(240, 240, 240); padding-bottom: 1rem; }
.va-accordion-wrapper .usa-accordion--bordered .usa-accordion__heading { margin-bottom: 0px; }
.va-accordion-wrapper .usa-accordion__heading,
.va-accordion-wrapper .usa-prose .usa-accordion__heading { font-family: "Source Sans Pro Web", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans; font-size: 1.06rem; line-height: 0.9; margin: 0px; }
.va-accordion-wrapper .usa-accordion__heading:not(:first-child),
.va-accordion-wrapper .usa-prose .usa-accordion__heading:not(:first-child) { margin-top: 0.5rem; }
.va-accordion-wrapper .usa-accordion__content { color: rgb(27, 27, 27); background-color: white; margin-top: 0px; overflow: auto; padding: 1rem 1.25rem calc(0.75rem); }
.va-accordion-wrapper .usa-accordion__content > :first-child { margin-top: 0px; }
.va-accordion-wrapper .usa-accordion__content > :last-child { margin-bottom: 0px; }
.va-accordion-wrapper .usa-accordion__button { border: 0px; border-radius: 0px; box-shadow: none; justify-content: normal; text-align: left; color: rgb(27, 27, 27); background-color: rgb(240, 240, 240); background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2224%22 height%3D%2224%22 viewBox%3D%220 0 24 24%22%3E%3Cpath d%3D%22M19 13H5v-2h14v2z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(transparent, transparent); background-repeat: no-repeat; background-position: right 1.25rem center; background-size: 1.5rem; cursor: pointer; display: inline-block; font-weight: 700; margin: 0px; padding: 1rem 3.5rem 1rem 1.25rem; text-decoration: none; width: 100%; }
.va-accordion-wrapper .usa-accordion__button:visited { color: rgb(84, 39, 143); }
.va-accordion-wrapper .usa-accordion__button:hover { color: rgb(26, 68, 128); }
.va-accordion-wrapper .usa-accordion__button:active { color: rgb(22, 46, 81); }
.va-accordion-wrapper .usa-accordion__button:focus { outline: rgb(36, 145, 255) solid 0.25rem; outline-offset: 0rem; }
.va-accordion-wrapper .usa-accordion__button:hover,
.va-accordion-wrapper .usa-accordion__button.usa-button--hover,
.va-accordion-wrapper .usa-accordion__button:disabled:hover,
.va-accordion-wrapper .usa-accordion__button[aria-disabled="true"]:hover,
.va-accordion-wrapper .usa-accordion__button:disabled.usa-button--hover,
.va-accordion-wrapper .usa-accordion__button[aria-disabled="true"].usa-button--hover,
.va-accordion-wrapper .usa-accordion__button:active,
.va-accordion-wrapper .usa-accordion__button.usa-button--active,
.va-accordion-wrapper .usa-accordion__button:disabled:active,
.va-accordion-wrapper .usa-accordion__button[aria-disabled="true"]:active,
.va-accordion-wrapper .usa-accordion__button:disabled.usa-button--active,
.va-accordion-wrapper .usa-accordion__button[aria-disabled="true"].usa-button--active,
.va-accordion-wrapper .usa-accordion__button:disabled:focus,
.va-accordion-wrapper .usa-accordion__button[aria-disabled="true"]:focus,
.va-accordion-wrapper .usa-accordion__button:disabled.usa-focus,
.va-accordion-wrapper .usa-accordion__button[aria-disabled="true"].usa-focus,
.va-accordion-wrapper .usa-accordion__button:disabled,
.va-accordion-wrapper .usa-accordion__button[aria-disabled="true"],
.va-accordion-wrapper .usa-accordion__button.usa-button--disabled { background-color: transparent; box-shadow: none; text-decoration: underline; }
.va-accordion-wrapper .usa-accordion__button.usa-button--hover { color: rgb(26, 68, 128); }
.va-accordion-wrapper .usa-accordion__button.usa-button--active { color: rgb(22, 46, 81); }
.va-accordion-wrapper .usa-accordion__button:disabled,
.va-accordion-wrapper .usa-accordion__button[aria-disabled="true"],
.va-accordion-wrapper .usa-accordion__button:disabled:hover,
.va-accordion-wrapper .usa-accordion__button[aria-disabled="true"]:hover,
.va-accordion-wrapper .usa-accordion__button[aria-disabled="true"]:focus { color: rgb(117, 117, 117); }
@media (forced-colors: active) {
  .va-accordion-wrapper .usa-accordion__button:disabled,
  .va-accordion-wrapper .usa-accordion__button[aria-disabled="true"],
  .va-accordion-wrapper .usa-accordion__button:disabled:hover,
  .va-accordion-wrapper .usa-accordion__button[aria-disabled="true"]:hover,
  .va-accordion-wrapper .usa-accordion__button[aria-disabled="true"]:focus { color: graytext; }
}
.va-accordion-wrapper .usa-accordion__button:hover { color: rgb(27, 27, 27); background-color: rgb(223, 225, 226); background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2224%22 height%3D%2224%22 viewBox%3D%220 0 24 24%22%3E%3Cpath d%3D%22M19 13H5v-2h14v2z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(transparent, transparent); background-repeat: no-repeat; text-decoration: none; }
@media (forced-colors: active) {
  .va-accordion-wrapper .usa-accordion__button { border: 2px solid transparent; position: relative; }
  .va-accordion-wrapper .usa-accordion__button::before { background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2224%22 height%3D%2224%22 viewBox%3D%220 0 24 24%22%3E%3Cpath d%3D%22M19 13H5v-2h14v2z%22%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; background-position: center center; background-size: 1.5rem 1.5rem; display: inline-block; width: 1.5rem; height: 100%; position: absolute; right: 1.25rem; top: 0px; content: ""; }
  @supports ((-webkit-mask: url("")) or (mask: url(""))) {
  .va-accordion-wrapper .usa-accordion__button::before { background: none buttontext; mask-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2224%22 height%3D%2224%22 viewBox%3D%220 0 24 24%22%3E%3Cpath d%3D%22M19 13H5v-2h14v2z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(transparent, transparent); mask-position: center center; mask-repeat: no-repeat; mask-size: 1.5rem 1.5rem; }
}
}
.va-accordion-wrapper .usa-accordion__button[aria-expanded="false"] { background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2224%22 height%3D%2224%22 viewBox%3D%220 0 24 24%22%3E%3Cpath d%3D%22M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(transparent, transparent); background-repeat: no-repeat; background-size: 1.5rem; }
.va-accordion-wrapper .usa-accordion__button[aria-expanded="false"]:hover { background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2224%22 height%3D%2224%22 viewBox%3D%220 0 24 24%22%3E%3Cpath d%3D%22M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(transparent, transparent); background-repeat: no-repeat; }
@media (forced-colors: active) {
  .va-accordion-wrapper .usa-accordion__button[aria-expanded="false"]::before { background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2224%22 height%3D%2224%22 viewBox%3D%220 0 24 24%22%3E%3Cpath d%3D%22M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z%22%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; background-position: center center; background-size: 1.5rem 1.5rem; display: inline-block; width: 1.5rem; height: 100%; position: absolute; right: 1.25rem; top: 0px; }
  @supports ((-webkit-mask: url("")) or (mask: url(""))) {
  .va-accordion-wrapper .usa-accordion__button[aria-expanded="false"]::before { background: none buttontext; mask-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2224%22 height%3D%2224%22 viewBox%3D%220 0 24 24%22%3E%3Cpath d%3D%22M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(transparent, transparent); mask-position: center center; mask-repeat: no-repeat; mask-size: 1.5rem 1.5rem; }
}
}
.va-accordion-wrapper .expand-collapse-list { display: flex; justify-content: flex-end; list-style: none; margin: 0px; padding: 0px; }
.va-accordion-wrapper .expand-collapse-list li:first-child::after { content: "|" / ""; font-size: 0.875rem; }
.va-accordion-wrapper button.va-accordion__button { border: none; color: var(--vads-color-link); background: transparent; padding: 0.625rem; cursor: pointer; font-family: inherit; font-weight: bold; }
@media print {
  .va-accordion-wrapper button.va-accordion__button { display: none; }
}
