button:not([disabled]):focus, select:not([disabled]):focus, a:not([disabled]):focus, h1:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, #form-question [role="option"]:focus, [tabindex]:focus, a.va-sidenav-submenu__link:focus { outline: 2px solid var(--vads-color-action-focus-on-light); outline-offset: 2px; z-index: 2; }
.usa-icon { display: inline-block; fill: currentcolor; height: 1em; position: relative; width: 1em; }
.usa-icon--size-3 { height: 1.5rem; width: 1.5rem; }
.usa-icon--size-4 { height: 2rem; width: 2rem; }
.usa-icon--size-5 { height: 2.5rem; width: 2.5rem; }
.usa-icon--size-6 { height: 3rem; width: 3rem; }
.usa-icon--size-7 { height: 3.5rem; width: 3.5rem; }
.usa-icon--size-8 { height: 4rem; width: 4rem; }
.usa-icon--size-9 { height: 4.5rem; width: 4.5rem; }
.usa-breadcrumb { font-family: "Source Sans Pro Web", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans; font-size: 1.06rem; line-height: 1.3; color: rgb(27, 27, 27); background-color: white; padding-left: 0px; padding-right: 0px; }
@media (min-width: 30em) {
  .usa-breadcrumb { padding-bottom: 1rem; padding-top: 1rem; }
}
@media (min-width: 30em) {
  .usa-breadcrumb:not(.usa-breadcrumb--wrap) .usa-breadcrumb__list { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
}
.usa-breadcrumb__list { margin: 0px -0.25rem; list-style-type: none; display: block; padding: 0.25rem; }
.usa-breadcrumb__list > li { margin-bottom: 0px; max-width: unset; }
.usa-breadcrumb__list-item { position: absolute; left: -999em; right: auto; display: inline; }
@media (max-width: 29.99em) {
  .usa-breadcrumb__list-item { white-space: normal; }
  .usa-breadcrumb__list-item:nth-last-child(2) { position: static; }
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link { text-decoration: underline; background-color: transparent; border: 0px; border-radius: 0px; box-shadow: none; font-weight: normal; justify-content: normal; text-align: left; margin: 0px; padding: 1rem 0px 1rem calc(2ex + 0px); width: auto; text-indent: calc(-2ex + 0px); color: rgb(0, 94, 162); display: inline-block; }
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:visited { color: rgb(84, 39, 143); }
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:hover { color: rgb(26, 68, 128); }
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:active { color: rgb(22, 46, 81); }
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:focus { outline: rgb(36, 145, 255) solid 0.25rem; outline-offset: 0rem; }
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:hover, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link.usa-button--hover, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:disabled:hover, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link[aria-disabled="true"]:hover, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:disabled.usa-button--hover, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link[aria-disabled="true"].usa-button--hover, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:active, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link.usa-button--active, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:disabled:active, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link[aria-disabled="true"]:active, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:disabled.usa-button--active, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link[aria-disabled="true"].usa-button--active, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:disabled:focus, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link[aria-disabled="true"]:focus, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:disabled.usa-focus, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link[aria-disabled="true"].usa-focus, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:disabled, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link[aria-disabled="true"], .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link.usa-button--disabled { background-color: transparent; box-shadow: none; text-decoration: underline; }
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link.usa-button--hover { color: rgb(26, 68, 128); }
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link.usa-button--active { color: rgb(22, 46, 81); }
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:disabled, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link[aria-disabled="true"], .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:disabled:hover, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link[aria-disabled="true"]:hover, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link[aria-disabled="true"]:focus { color: rgb(117, 117, 117); }
}
@media (max-width: 29.99em) and (forced-colors: active) {
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:disabled, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link[aria-disabled="true"], .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:disabled:hover, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link[aria-disabled="true"]:hover, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link[aria-disabled="true"]:focus { color: graytext; }
}
@media (max-width: 29.99em) {
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link::before { background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2224%22 height%3D%2224%22 viewBox%3D%220 0 24 24%22%3E%3Cpath d%3D%22M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z%22%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; background-position: center center; background-size: 2ex 2ex; display: inline-block; height: 2ex; width: 2ex; content: ""; vertical-align: baseline; margin-right: 0rem; }
  @supports ((-webkit-mask: url("")) or (mask: url(""))) {
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link::before { background: none rgb(113, 118, 122); mask-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2224%22 height%3D%2224%22 viewBox%3D%220 0 24 24%22%3E%3Cpath d%3D%22M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(transparent, transparent); mask-position: center center; mask-repeat: no-repeat; mask-size: 2ex 2ex; }
}
}
@media (max-width: 29.99em) {
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:visited { color: rgb(84, 39, 143); }
}
@media (max-width: 29.99em) {
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:hover, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:active { color: rgb(26, 68, 128); }
}
@media (max-width: 29.99em) {
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link::before { bottom: -0.2em; height: 2ex; position: relative; }
}
@media (max-width: 29.99em) {
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:hover, .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:active { text-decoration: none; }
}
@media (max-width: 29.99em) {
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link span { text-decoration: underline; }
}
@media (max-width: 29.99em) {
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link::before { margin-right: 0px; }
}
@media (min-width: 30em) {
  .usa-breadcrumb__list-item { position: static; }
  .usa-breadcrumb__list-item:not(:last-child)::after { background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2224%22 height%3D%2224%22 viewBox%3D%220 0 24 24%22%3E%3Cpath d%3D%22M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z%22%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; background-position: center center; background-size: 2ex 2ex; display: inline-block; height: 2ex; width: 2ex; content: ""; vertical-align: baseline; margin-left: 0rem; }
  @supports ((-webkit-mask: url("")) or (mask: url(""))) {
  .usa-breadcrumb__list-item:not(:last-child)::after { background: none rgb(113, 118, 122); mask-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2224%22 height%3D%2224%22 viewBox%3D%220 0 24 24%22%3E%3Cpath d%3D%22M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(transparent, transparent); mask-position: center center; mask-repeat: no-repeat; mask-size: 2ex 2ex; }
}
  .usa-breadcrumb__list-item:not(:last-child)::after { bottom: -0.2em; margin-left: 0px; margin-right: 0px; height: 2ex; position: relative; }
}
.usa-breadcrumb__link { color: rgb(0, 94, 162); display: inline; text-decoration: none; }
.usa-breadcrumb__link:visited { color: rgb(84, 39, 143); }
.usa-breadcrumb__link:hover, .usa-breadcrumb__link:active { color: rgb(26, 68, 128); }
.usa-breadcrumb__link span { text-decoration: underline; }
@media (min-width: 30em) {
  .usa-breadcrumb--wrap { line-height: 1.4; }
}
.usa-breadcrumb--wrap .usa-breadcrumb__list-item { display: inline-block; }
:host { display: block; }
.usa-breadcrumb__link span { pointer-events: none; }
@media screen and (max-width: 480px) {
  .usa-breadcrumb__list-item:not(:nth-last-child(2)) { display: none; }
}
.usa-breadcrumb { padding-top: 20px; padding-bottom: 32px; }
@media (min-width: 768px) {
  .usa-breadcrumb { padding-bottom: 48px; }
}
.usa-breadcrumb__link { color: var(--vads-color-link); }
.usa-breadcrumb__link:hover { color: var(--vads-color-primary-dark); }
.usa-breadcrumb__link { color: var(--vads-color-link); }
.usa-breadcrumb__link:hover { color: var(--vads-color-primary-dark); }
.usa-breadcrumb__list-item:not(:last-child)::after { background: var(--vads-color-gray-medium); }
@media (max-width: 480px) {
  .usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link { padding-top: 0px; padding-bottom: 0px; }
}
.usa-current a { font-weight: bold; }
