name: Continuous Integration
on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  setup:
    name: Setup and Test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: 'yarn'

      - name: Install Npm Dependencies
        run: |
          yarn set version stable
      # skip installing husky's git hooks on CI
          HUSKY=0 yarn install --immutable

      - name: Check TypeScript
        run: yarn test:types

      - name: Run Lint
        run: yarn lint

      - name: Check format
        run: yarn test:format

      - name: Run tests with jest
        run: yarn test:ci

      # - name: Cypress.io
      #   uses: cypress-io/github-action@v2
      #   with:
      #     start: yarn start
      #     wait-on: 'http://localhost:3000'
