name: "Content release: Staging"
on:
  # Can be manually triggered
  workflow_dispatch:
  # Runs 5:35 am EDT Monday to Friday.
  # This currently UTC -> EDT.
  # schedule:
  #   - cron: "35 9 * * 1-5"
  # Runs on API call. Used for CMS-driven build triggers.
  repository_dispatch:
    types: [content-release-staging]

concurrency: next-build-content-release-staging

jobs:
  content-release-staging:
    # This job should run for any valid event besides workflow_run, or workflow_run if the conclusion was successful.
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    uses: ./.github/workflows/content-release.yml
    with:
      build_type: "staging"
    secrets: inherit
