name: "Content release: Dev"
on:
  # Can be manually triggered
  workflow_dispatch:
  # Runs 5:05 am EDT Monday to Friday.
  # This currently UTC -> EDT.
  # schedule:
  #   - cron: "05 9 * * 1-5"
  # Runs on API call. Used for CMS-driven build triggers.
  repository_dispatch:
    types: [content-release-dev]

concurrency: next-build-content-release-dev

jobs:
  content-release-dev:
    # This job should run for any valid event besides workflow_run, or workflow_run if the conclusion was successful.
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    uses: department-of-veterans-affairs/next-build/.github/workflows/content-release.yml@${{ github.ref_name }}
    with:
      build_type: "dev"
    secrets: inherit
