name: "Content release: Prod"
on:
  # Can be manually triggered
  workflow_dispatch:
  # Runs automatically every 30 minutes from 8am to 8pm Monday to Friday.
  # This currently UTC -> EDT.
  schedule:
    - cron: "*/30 0,12-23 * * 1-5"
  # Runs on API call. Used for CMS-driven build triggers.
  repository_dispatch:
    types: [content-release]

jobs:
  content-release:
    uses: department-of-veterans-affairs/next-build/.github/workflows/content-release.yml@main
    with:
      build_type: "prod"
    secrets: inherit



