name: "Content release: Staging"
on:
  workflow_run:
    workflows: ["Deploy Staging"]
    types:
      - completed
  # Can be manually triggered
  workflow_dispatch:

concurrency: next-build-content-release-staging

jobs:
  content-release-staging:
    # This job should run for any valid event besides workflow_run, or workflow_run if the conclusion was successful.
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    uses: department-of-veterans-affairs/next-build/.github/workflows/content-release.yml@main
    with:
      build_type: "staging"
      branch: ${{ github.event.workflow_run.outputs.create-stage-release-branch.NEW_BRANCH || github.ref }}
    secrets: inherit
