name: "Content release: Staging"
on:
  workflow_run:
    workflows: ["Create release branch"]
    types:
      - completed
  # Can be manually triggered
  workflow_dispatch:

concurrency: next-build-content-release-staging

env:
  SLACK_CHANNEL: C06DSBT7CBW #status-next-build

jobs:
  content-release-staging:
    # This job should run for any valid event besides workflow_run, or workflow_run if the conclusion was successful.
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    uses: department-of-veterans-affairs/next-build/.github/workflows/content-release.yml@main
    with:
      build_type: "staging"
      branch: ${{ github.event.workflow_run.outputs.create-stage-release-branch.NEW_BRANCH || github.ref }}
    secrets: inherit
  
  notify-success:
    name: Notify Success
    runs-on: ubuntu-latest
    needs: content-release-staging
    if: ${{ github.event_name == 'workflow_run' && github.event.workflow_run.workflow_name == 'Create release branch' }}

    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v4.1.1

      - name: Notify Slack
        uses: department-of-veterans-affairs/platform-release-tools-actions/slack-notify@8c496a4b0c9158d18edcd9be8722ed0f79e8c5b4 # main
        continue-on-error: true
        with:
          payload: '{"attachments": [{"color": "#07711E","blocks": [{"type": "section","text": {"type": "mrkdwn","text": "Successfully released ${{ github.event.workflow_run.outputs.create-stage-release-branch.NEW_BRANCH }} branch on https://staging.va.gov \n Please review [URLS TBD]"}}]}]}'
          channel_id: ${{ env.SLACK_CHANNEL }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  notify-failure:
    name: Notify Failure
    runs-on: ubuntu-latest
    if: ${{ (failure() || cancelled()) && github.event_name == 'workflow_run' && github.event.workflow_run.workflow_name == 'Create release branch' }}
    needs: content-release-staging

    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v4.1.1

      - name: Notify Slack
        if: ${{ env.DSVA_SCHEDULE_ENABLED == 'true' }}
        uses: department-of-veterans-affairs/platform-release-tools-actions/slack-notify@8c496a4b0c9158d18edcd9be8722ed0f79e8c5b4 # main
        continue-on-error: true
        with:
          payload: '{"attachments": [{"color": "#D33834","blocks": [{"type": "section","text": {"type": "mrkdwn","text": "><!subteam^S09760WRN3T|cms-troubleshooting> There was a problem releasing ${{ github.event.workflow_run.outputs.create-stage-release-branch.NEW_BRANCH }} branch to stage: <https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}>"}}]}]}'
          channel_id: ${{ env.SLACK_CHANNEL }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

