name: Cypress Tests
on:
  push:
    branches:
      - 'main'
  pull_request:

env:
  NODE_EXTRA_CA_CERTS: /etc/ssl/certs/ca-certificates.crt
  OPENSSL_CONF: /etc/ssl/openssl.cnf
  CYPRESS_INSTALL_BINARY: 0
  CYPRESS_BINARY_CACHE: /home/runner/runner1/_work/next-build/next-build/.yarn/cache

jobs:
  build:
    name: Build static
    runs-on: [self-hosted, asg]
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc

      - name: Setup Yarn
        run: |
         corepack enable
         corepack hydrate ./.yarn/releases/corepack.tgz
         corepack prepare yarn@3.6.1 --activate
      - run: node -v
      - run: yarn -v
      
      - name: Install Cypress Binary
        run: curl https://download.cypress.io/desktop/13.2.0?platform=linux&arch=x64 > /home/runner/runner1/_work/next-build/next-build/.yarn/cache
      
      - name: Install Dependencies
        run: HUSKY=0 yarn install --immutable

      - name: Generate static site
        run: yarn export

      - name: Serve static site for cypress
        run: yarn export:serve

      - name: Cypress tests
        uses: cypress-io/github-action@v5