name: Playwright Tests
on:
  pull_request:
  deployment_status:
jobs:
  test:
    timeout-minutes: 15
    runs-on: [self-hosted, asg]
    # Certs added for the self hosted runner
    env:
      NODE_EXTRA_CA_CERTS: /etc/ssl/certs/ca-certificates.crt
    if: github.event.deployment_status.state == 'success'
    steps:
    - uses: actions/checkout@v4
    - name: Install node with NVM to use system OpenSSL configuration
      run: |
        curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.6/install.sh | bash
        export NVM_DIR="$HOME/.nvm"
        [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
        nvm install 18
    #- uses: actions/setup-node@v4
    #  with:
    #    node-version: 18
    - name: Setup Yarn
      run: |
        corepack enable
        corepack install -g --cache-only .yarn/releases/corepack.tgz
    - name: Install dependencies
      run: yarn
    - name: Install Playwright
      run: yarn playwright install --with-deps
    - name: Run Playwright tests
      run: yarn test:playwright
      env:
        SITE_URL: ${{ github.event.deployment_status.environment_url }}
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: playwright-report
        path: ./playwright/test-report/
        retention-days: 30
